@import url("https://fonts.googleapis.com/css2?family=Bokor&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Oswald:wght@200&family=Roboto:wght@100&display=swap");

.footer {
  position: static;
  bottom: 0;
  margin: -0.6%;
  height: auto;
  width: auto;
  background-color: #000000;
  border-top: 1px solid #ff4500;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  z-index: 2;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
}

.contacts {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.contacts p {
  margin: 0;
  color: #d2b48c;
}

.contacts a {
  color: #d2b48c;
  text-decoration: none;
}

.contacts a:hover {
  text-decoration: underline;
}

.copywright {
  font-size: 14px;
  color: #d2b48c;
  margin-left: auto;
  margin-right: auto;
}

.signup h3 {
  color: #d2b48c;
  align-items: center;
  padding-left: 50px;
}

.signup form {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-left: 50px;
}

.signup input {
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 4px;
  margin: auto;
}

.signup button {
  padding: 10px 20px;
  background-color: #d2b48c;
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
}

.signup button:hover {
  background-color: #556b2f;
}

.location {
  padding-left: 3%;
}

.location iframe {
  max-width: 100px;
  height: 100px;
  margin: auto;
  border-radius: 10px;
  border-width: 10px;
  border-color: #d2b48c;
  background-color: #d2b48c;
}

.location h3 {
  color: #d2b48c;
}

.contact-form-button {
  padding: 10px 20px;
  margin: auto;
  border: none;
  background-color: #d2b48c;
  color: rgb(0, 0, 0);
  cursor: pointer;
}
.popup {
  background: #fff;
  border-radius: 8px;
  padding: 20px;
  width: 500px;
  height: 30rem;
  max-width: 500px;
  margin: 0 auto;
  box-shadow: 10px 10px 1000px black;
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
}

.popup-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 500px;
}

.popup-form input {
  background-color: lightgray;
  border-radius: 2px;
  padding: 10px;
  box-shadow: 1px 1px 1px black;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
}
.popup-form textarea {
  height: 100px;
  background-color: lightgray;
  border-radius: 2px;
  padding: 10px;
  box-shadow: 1px 1px 1px black;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
}

.popup-form-send {
  border-radius: 3px;
  transition: 0.2s linear;
  background: #00b288;
  height: 50px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.popup-form-close {
  border-radius: 3px;
  transition: 0.2s linear;
  background: rgb(255, 73, 73);
  height: 50px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.form-buttons {
  display: flex;
  justify-content: space-between;
  padding-left: 10%;
  padding-right: 10%;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
  }

  .contacts {
    flex-direction: column;
  }
}
