/* navbar.css */

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #121212; /* Mörk bakgrund */
}

.navbar {
  height: 70px; /* Specifik höjd */
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  color: #fff;
  padding: 1rem 1rem; /* Öka padding för mer luft */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  overflow: visible;
}

.navbar-menu {
  list-style: none; /* Ta bort punkter från listobjekt */
  display: flex;
  position: relative;
  gap: 1rem; /* Snyggt mellanrum mellan knapparna */
  margin: 0;
  padding: 0;
}

.navbar-item {
  position: relative;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-radius 0.3s;
  text-align: center;
}

.navbar-item:hover {
  background-color: #ff1e1e; /* Röd hover-effekt */
  color: #000; /* Svart text vid hover */
  border-radius: 50px; /* Rundad effekt vid hover */
}

.navbar-item span {
  font-weight: bold;
  font-size: 1rem;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 50%;
  background-color: #121212; /* Mörk dropdown */
  padding: 0.5rem 0; /* Snyggare avstånd mellan underkategorier */
  border-radius: 4px;
  z-index: 10;
  list-style: none; /* Ta bort punkter från dropdown-menyn */
  transform: translateX(-50%);
}

.dropdown-item {
  padding: 0.5rem 1rem;
  color: #fff;
  transition: background-color 0.3s, color 0.3s;
}

.dropdown-item:hover {
  background-color: transparent; /* Ingen bakgrundsfärg vid hover */
  color: #ff4040; /* Ljusare röd text vid hover */
}

.nested-dropdown {
  padding: 0;
  margin: 0.5rem 0; /* Snyggt mellanrum mellan nested items */
  list-style: none; /* Ta bort punkter från nested dropdown */
}

.nested-dropdown-item {
  padding: 0.5rem 0; /* Mindre padding för att undvika boxig känsla */
  color: #fff;
  transition: color 0.3s;
}

.nested-dropdown-item:hover {
  color: #ff6060; /* Ljusare röd text vid hover */
}

.navbar-logo {
  height: 100%; /* Anpassa till navbarens höjd */
  max-height: 100px;
  width: auto;
}

.navbar-left, .navbar-center, .navbar-right {
  display: flex;
  align-items: center; /* Vertikal centrering */
}

.navbar-search {
  padding: 0.5rem;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: #121212;
  color: #fff;
}